<div class="jumbotron text-center">
  <h1>Connect Chennai</h1>
  <p>Connecting Volunteers and the needy.</p>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="well">
          <%= link_to "I Need Help", new_needee_path, class: "btn btn-block btn-primary btn-lg" %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="well">
          <%= link_to "I Can Help (Facebook Login)", user_omniauth_authorize_path(:facebook), class: "btn btn-block btn-primary btn-lg" %> <br>
          <small>(We won't post on your wall)</small>
        </div>
      </div>
    </div>
  </div>
</div>
