<div class="jumbotron text-center">
  <h1>Connect Chennai</h1>
  <p>Connecting Volunteers and the needy.</p>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="well">
          <%= link_to "I Need Help", new_needee_path, class: "btn btn-block btn-primary btn-lg" %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="well">
          <a href="" class="btn btn-block btn-primary btn-lg">I Can Help</a>
        </div>
      </div>
    </div>
  </div>
</div>
