<footer class="navbar-fixed-bottom">
  <div class="container">
    <p>By signing up, you agree that you respect the privacy of people and do not use the contact details for anything other than the rescue mission being carried out.</p>
    <p>Your data is safe. We won't use it for anything other than this rescue mission</p>
    <p>
      Built with compassion by
      <a href="http://www.codeastra.com">Code Astra</a> team.
    </p>
  </div>
</footer>
